.customers-container {
  padding-left: 0;
  padding-right: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers-container-title {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-bottom: -15px;
}

.customers-list .item {
  margin: 15px;
  width: calc((100% - 30px * 2) / 2);
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px * 3) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px * 6) / 6);
  }
}
