:root {
  --main-text-color: #757575;
  --header-text-color: #212121;
  --main-title-color: #ffffff;
  --title-color: #212121;
  --accent-color: #2196f3;
  --ferst-background-color: #e5e5e5;
  --second-background-color: #ffffff;
  --background-section-color: #2f303a;
  --logo-color: #000000;
  --address-color: rgba(255, 255, 255, 0.6);
  --partfolio-border-color: #eeeeee;
  --ferst-icon-color: #afb1b8;
  --background-icon-color: #f5f4fa;
  --footer-background-icon-color: #44454e;
  --specialization-title-background-color: rgba(47, 48, 58, 0.8);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --hover-card-background-color: rgba(33, 150, 243, 0.9);
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
  --form-border-color: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --checkbox-icon-color: rgba(33, 33, 33, 1);
  --form-send-color: rgba(255, 255, 255, 0.3);
}
